.desktop {
  background-image: url("img/ui/twatleft.png");
  background-repeat: repeat-x;
  background-size: auto 100vh;
  height: 100vh;
  width: 100%;
}
.desktop-container {
  padding:8%;
}
.gird {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.desktop li{
  list-style-type: none;
  width:143px;
  height:100px;
}
.logout {
  position: fixed;
  bottom: 0;
  right:0;
  padding-bottom: 8%;
  padding-right: 8%;

}